:root {
  --darkOfDress: #1d1358;
  --lightOfSkin: #fdfcea;
  --lightBlueOfEye: #b8caf2;
  --darkBlueOfEye: #221e6a;
  --darkBlueOfEyeLightened: #463ee0;
  --flowerPink: #c2557e;
  --hairLightBlonde: #fff8e5;
}

// Go with dark blue for App Header
// Skin color and hair color for panels
// Dress color for text
// Flower color for some titles
// Make status indicators and state indicators utilize colors especially any remaining colors