.container {
  background-color: var(--darkBlueOfEye);
  color: var(--lightOfSkin);
  min-height: 5vh;
  display: flex;
  flex-direction: row-reverse;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}