$darkBlue: var(--darkBlueOfEye);
$lightedDarkBlue: var(--darkBlueOfEyeLightened);

.container {
  width: 100%;
}

.menuItem {
  a {
    color: $darkBlue;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    display: block;
  }

  a:hover, a:active {
    color: $lightedDarkBlue;
  }
}